[http]
# host = 127.0.0.1
port = 8080
# root = /usr/share/clustercontrol
root = /Users/skamenetskiy/projects/go/src/github.com/skamenetskiy/clustercontrol/dist

[rpc]
host = 188.166.47.192
port = 9501

[prometheus]
host = 188.166.47.192
port = 9090